/*
 * Base structure
 */
html,
body {
  height: 100%;
  font-size: 16px;
}

body {
  text-align: center;
}


/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
}

.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}

.inner img {
  width: 180px;
  height: 180px;
  margin: auto;
  cursor: pointer;
  box-shadow: 0 1px 6px rgba(0,0,0,.12),0 1px 6px rgba(0,0,0,.12);
  transition: box-shadow .28s cubic-bezier(.4,0,.2,1);
}

.inner img:hover {
  box-shadow: 0 6px 10px rgba(0,0,0,.23),0 10px 30px rgba(0,0,0,.19);
}

/*
 * Header
 */
.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}

.social-icons-list {
  list-style: none;
  margin-left: -35px;
}

.social-icons-list li {
  display: inline-block;
}

.social-icons-list .btn.btn-raised {
  width: 50px;
  height: 50px;
  padding-top: 10px;
  padding-left: 10px;
}


.git:hover {
  color: white !important;
  background: #444 !important;
}

.linkedin:hover {
  color: white !important;
  background: #007bb6 !important;
}

.twitter:hover {
  color: white !important;
  background: #00a0d1 !important;
}

.google:hover {
  color: white !important;
  background: #db4a39 !important;
}

.facebook:hover {
  color: white !important;
  background: #3b5998 !important;
}


/*
 * Cover
 */

.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}



/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /*Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 700px;
  }
}


/**
* Preloader styles
**/
.pre-loader {
  position:absolute;
  top: 50%;
  left: 47.5%;
}
.pre-loader span {
  display:block;
  bottom:0px;
  width: 9px;
  height: 5px;
  background:#9b59b6;
  position:absolute;
  -webkit-animation: preloader 1.5s  infinite ease-in-out;
          animation: preloader 1.5s  infinite ease-in-out;
}
 
.pre-loader span:nth-child(2) {
  left:11px;
  -webkit-animation-delay: .2s;
          animation-delay: .2s; 
}
.pre-loader span:nth-child(3) {
  left:22px;
  -webkit-animation-delay: .4s;
          animation-delay: .4s;
}
.pre-loader span:nth-child(4) {
  left:33px;
  -webkit-animation-delay: .6s;
          animation-delay: .6s;
}

.pre-loader span:nth-child(5){
  left:44px;
  -webkit-animation-delay: .8s;
          animation-delay: .8s;
}

@-webkit-keyframes preloader {
  0% {
    height:5px;
    -webkit-transform:translateY(0px);
    transform:translateY(0px);
    background:#9b59b6;
  }
  
  25% {
    height:30px;
    -webkit-transform:translateY(15px);
    transform:translateY(15px);
    background:#3498db;
  }
  
  50% {
    height:5px;
    -webkit-transform:translateY(0px);
    transform:translateY(0px);
    background:#9b59b6;
  }

  100% {
    height:5px;
    -webkit-transform:translateY(0px);
    transform:translateY(0px);
    background:#9b59b6;
  }
}

@keyframes preloader {
  0% {
    height:5px;
    -webkit-transform:translateY(0px);
    transform:translateY(0px);
    background:#9b59b6;
  }

  25% {
    height:30px;
    -webkit-transform:translateY(15px);
    transform:translateY(15px);
    background:#3498db;
  }
  
  50% {
    height:5px;
    -webkit-transform:translateY(0px);
    transform:translateY(0px);
    background:#9b59b6;
  }

  100% {
    height:5px;
    -webkit-transform:translateY(0px);
    transform:translateY(0px);
    background:#9b59b6;
  }
}
