.reveal {
  font-size: 16px !important;
  line-height: 1.5 !important;
}


h1, h2 {
  font-family: 'Satisfy', cursive !important;
}

.slide .image {
  width: 80%;
  height: auto;
  border-radius: 2rem;
  margin: 1.5rem;
  box-shadow: 1px 0.5px 25px #141527;
}

.slide .gif {
  width: auto;
  border-radius: 2rem;
  margin: 2rem;
  box-shadow: 1px 0.5px 25px #141527;
}

.width-250 {
  width: 280px !important;
}

.width-300 {
  width: 350px !important;
}

@media only screen and (max-width: 600px) {
  .width-250 {
    width: 400px !important;
  }

  .width-300 {
    width: 450px !important;
  }
}

.image.heart {
  box-shadow: 1px 1px 25px #303030;
}

.red {
  color:#ff4033;
}

.font {
  font-family: 'Satisfy', cursive !important;
}

.font1 {
  font-family: 'Roboto Condensed', sans-serif !important;
}

.font-size-m {
  font-size: 1.6rem; 
}

.font-size-l {
  font-size: 2rem; 
}

.green {
  color: rgb(121, 205, 121);
}

.button {
  color: white;
  outline: 0;
  padding: 1rem 2rem;
  appearance: none;
  border: 0;
  background: transparent;
  border: 1px solid;
  text-decoration: none;
}